<article>
  <div>
      <h1><a class="internal-link" href="{{ note.url }}">{{ note.title }}</a></h1>
      <time datetime="{{ note.date | date_to_xmlschema }}">
	  {{ note.date | date_to_string:  "ordinal" }}
      </time>
      <address class="author">By <a rel="author" href="">{{ note.author }}</a></address> 
  </div>

  <div id="notes-entry-container">
    <content class="excerpt">
	{{ note.content }}
	<p class="revert"><a class="bold" href="{{ note.url }}">Read more...</a></p>
    </content>

    <side style="font-size: 0.9em">
      <h3 style="margin-bottom: 1em">Notes mentioning this note</h3>
      {% if note.backlinks.size > 0 %}
      <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
      {% for backlink in note.backlinks %}
        <div class="backlink-box">
        <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
        {% if backlink.type != "blog" %}
          <div style="font-size: 0.9em">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</div>
        {% endif %}
        </div>
      {% endfor %}
      </div>
      {% else %}

      <div style="font-size: 0.9em">
          <p>
              There are no notes linking to this note.
          </p>
      </div>
      {% endif %}
    </side>
  </div>
</article>

