<hr>

'La toupie folle' (the mad spinning top) is the familiar name we have
given to a research project funded by a Small Grant from the British
Academy and the Leverhulme Trust, carried out by Professor Patrick
ffrench at King’s College London with Dr Susana Caló, Visiting
Research Fellow at King’s (see our <a class="internal-link" href="/about">about page</a> for
further details). – May 2022.

<p><a class="internal-link" href="/people">People</a></p>
<p><a class="internal-link" href="/nodes">Node Graph</a></p>
