<hr>

<p><b>{{ site.title }}</b></p>

'La toupie folle' (the mad spinning top) is the familiar name we have
given to a research project funded by a Small Grant from the British
Academy and the Leverhulme Trust, carried out by Professor Patrick
ffrench at King’s College London with Dr Susana Caló, Visiting
Research Fellow at King’s. The website has been built by Dr Daniel
Nemenyi. See <a class="wikilink" href="/about">about</a> for further details. – May 2022.

<ul>
    <li class="push"><a class="wikilink" href="/about">about</a></li>
    <li><a class="wikilink" href="/people">people</a></li>
    <li><a class="wikilink" href="/nodes">nodes</a></li>
</ul>

{{ site.time | date: '%e %B %Y' }}
