<!-- That file is not particularly elegant. This will need a refactor at some point. -->

<iframe style="display: none; height: 0; width: 0;" id='link-preview-iframe' src="">
</iframe>

<script>
 var opacityTimeout;
 var contentTimeout;
 var transitionDurationMs = 100;

 var iframe = document.getElementById('link-preview-iframe')
 var tooltipWrapper = document.getElementById('backlink-wrapper')
 var tooltipContent = document.getElementById('backlink-content')
 const close = document.getElementById('close');

 function openBacklinkBox() {
	 document.getElementById("backlink-content").style.display = "block";
 }

 function closeBacklinkBox() {
	 document.getElementById("backlink-content").style.display = "none";
 }
 
 function hideTooltip() {
     opacityTimeout = setTimeout(() => {
		 tooltipWrapper.style.opacity = 0;
		 contentTimeout = setTimeout(() => {
			 tooltipContent.innerHTML = '';
			 tooltipWrapper.style.display = 'none';
		 }, transitionDurationMs + 1);
     }, transitionDurationMs)
 }

 function showTooltip(event) {
     var elem = event.target;
     var elem_props = elem.getClientRects()[elem.getClientRects().length - 1];
     var top = window.pageYOffset || document.documentElement.scrollTop;
     const showAllBacklinks = elem.classList.contains("showallbacklinks");

     if (event.target.host === window.location.host) {
		 iframe.src = event.target.href
		 iframe.onload = function() {
			 openBacklinkBox();
             tooltipContentHtml = '';
			 const name = iframe.contentWindow.document.querySelector('h1').innerHTML;
			 const nameSlug = name.toLowerCase().replace(/ /g, '-');
			 tooltipContentHtml += `<button aria-label="Close" id="closeBacklinkBox" class="close" type="button" name="close" onclick="closeBacklinkBox()"  autofocus></button>`;
			 tooltipContentHtml += `<heading><a href="{{ site.baseurl }}/people/#${nameSlug}" class="bold">${name}</a>`;

			 /// Let's start adding backlinks into tooltip

			 // Store backlinks
			 const backlinks = iframe.contentWindow.document.querySelectorAll('.backlink-box a');

			 if ( backlinks.length <= 1 && !showAllBacklinks ) {
				 /* If there's only one (or somehow less) backlinks
					then that means the only link to this item is the
					one it' currently on */
				 tooltipContentHtml += ' is only mentioned in this note.</heading>';
			 } else {
				 /* We don't want to include backlinks to current
					post, so find out what the parent post is. */
				 const elemContext = elem.closest(".bloglink")?.attributes.target.value ?? "n/a";

				 tooltipContentHtml += ' is also mentioned in:</heading>'
				 tooltipContentHtml += "<ul>";
				 backlinks.forEach(backlink => {
					 const backlinkHref = backlink.href // URI of backlink
					 if ( backlinkHref !== window.location.href && !backlinkHref.endsWith(elemContext) ) {
						 tooltipContentHtml += `<li>${backlink.outerHTML}</li>`;
					 }
				 })

				 tooltipContentHtml += "</ul>";
			 }

			 // Insert content into tooltip

             tooltipContent.innerHTML = tooltipContentHtml

             tooltipWrapper.style.display = 'block';
			 tooltipContent.style.opacity = 1.0;
		 }
     }
 }

 function fadeToolTip() {
	 // Fade tooltip when scrolling
	 let opacity = tooltipContent.style.opacity;

	 if (opacity > 0) {
		 tooltipContent.style.opacity = opacity - 0.0001;
	 } else {
		 tooltipContent.style.display = 'none';
	 }
 }

 function unfadeToolTip() {
	 // Unfade tooltip when hovered over
	 let opacity = tooltipContent.style.opacity;

	 if (opacity < 1.0 ) {
		 tooltipContent.style.opacity = 1.0;
	 }
 }
 
 function setupListeners(linkElement) {

	 linkElement.addEventListener('click', event => {
		 event.preventDefault();
		 clearTimeout(opacityTimeout);
		 clearTimeout(contentTimeout);
		 showTooltip(event);
	 })

     linkElement.addEventListener('click', function(event) {
		 clearTimeout(opacityTimeout);
		 clearTimeout(contentTimeout);
		 showTooltip(event);
     });

     linkElement.addEventListener('touchstart', function(event) {
		 clearTimeout(opacityTimeout);
		 clearTimeout(contentTimeout);
		 showTooltip(event);
     });

     tooltipWrapper.addEventListener('mouseenter', function(event) {
		 clearTimeout(opacityTimeout);
		 clearTimeout(contentTimeout);
     });

	 tooltipWrapper.addEventListener('touchstart', function(event) {
		 clearTimeout(opacityTimeout);
		 clearTimeout(contentTimeout);
	 });

	 window.addEventListener('scroll', () => {
		 fadeToolTip();
		 })
 
	 tooltipContent.addEventListener('mouseenter', () => {
		 unfadeToolTip();
	 })

	 tooltipContent.addEventListener('touchstart', () => {
		 unfadeToolTip();
	 })
 }

 document.querySelectorAll('{{ include.wrapperQuerySelector }} a.wikilink').forEach(setupListeners);

</script>
