$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 0%, 85%);
$color-box-background: mix($color-primary, white, 4%);
$border-radius: 4px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  color: $color-text;
  font-size: 1rem;
  max-width: 63em;

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: mix($color-text, white, 80%);
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

p,
blockquote,
li,
h1,
h2,
h3,
h4 {
    max-width: 75ch;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid $color-border;
  color: $color-primary;
  &:hover {
    color: black !important;
    background: #fffaf1;
  }
  &.wikilink:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}

nav {
  margin: 1em 0 3em;
}

nav ul,
footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li:not(:last-child),
footer ul li:not(:last-child) {
    margin-right: 0.5em;
}

.push {
    // Pushes gap between items in a flexbox list
    margin-left: auto;
}

.bold {
    font-weight: bold;
}

article.bloglink h3 {
    font-size: 1.6em;
}

article.bloglink:not(:last-child) {
    margin-bottom: 4em;
}

.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

#backlink-wrapper {
    position: sticky;
    top: 10px;
}

button {
    border-radius: 50px;
}

.close {
    float: right;
    margin-left: 10px;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-x' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E"); // x icon
    background-repeat: non-repeat;
    background-size: cover;
    width: 1em;
    height: 1em;
}

@media(min-width: 740px) {
    .grid-main-sidebar {
	display: grid;
	grid-template-areas: "main backlinks";
	grid-template-columns: minmax(25rem,2fr) minmax(12rem, 1fr);
	grid-gap: 20px;
    }

    .notes-entry-container content {
	grid-area: main;
    }

    #backlink-wrapper {
	position: static;
	grid-area: backlinks;
	font-size: 0.8em;
    }
}

#backlink-content {
    display: none;
    padding: 10px 20px;
    border: 1px solid #bebebe;
    box-shadow: #cdcdcd8f 3px 3px 1px;
    background: white;
}

.notes-entry-container .mentioned-in {
    display: none;
}

.sticky {
    position: sticky;
    top: 40px;
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.timeline-entry {
    display: grid;
    grid-template-columns: minmax(10ch, 1fr) 3fr;
    grid-column-gap: 5px;
}

.timeline-entry * {
    font-weight: normal;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

/* 
  Extract an excerpt
*/

.excerpt :nth-child( n + 6 ),
.excerpt :nth-child( n + 6 ) > * {
    // Remove all elements beyond the $exerpt-value
    display: none;
}

.excerpt p:nth-child( -n + 6 ) > *,
.excerpt .revert,
.excerpt .revert > * {
    // Since removing all elements beyond $exerpt-values causes nested
    // elements within the initial paragraphs to also disapear (eg
    // more than $excerpt-length em's or a's ), manually unset
    // anything we did to them.
    display: revert;
}

content a.wikilink {
    border-color: #8b88e6;
    background-color: #efefff;
}

#tooltip-wrapper {
    background: white;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: absolute;
    overflow: hidden;
    width: 400px;
    max-height: 300px;
    font-size: 0.8em;
}
